{% extends "urlinspector/base.html" %}

{% block content %}
    <h3>Recent inspections</h3>

    {% if extractions %}
        <ul>
            {% for e in extractions %}
                <li>
                    <a href="{% url 'url_inspector:inspection' e.id %}" title="{{ e.url }}">
                        {{ e.url|truncatechars:40 }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recent inspections to display.</p>
    {% endif %}
{% endblock %}