<html>

{% load static %}

<head>
    <title>{% block title %}URL Inspector{% endblock %}</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'url_inspector/style.css' %}">

    {% block head %}

    {% endblock %}
</head>

<body>
<h1>URL Inspector</h1>

<nav>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="http://example.com">Launch new inspection</a></li>
        <li><a href="{% url 'url_inspector:inspections_saved' %}">Saved inspections</a></li>
    </ul>
</nav>

<main>
    {% block content %}

    {% endblock %}
</main>

<footer>
    URL Inspector is still a work-in-progress project. Its planned functionalities are scraping all the URLs
    of a HTML page and report information about them.
</footer>
</body>

</html>