{% extends "url_inspector/base.html" %}

{% load ui_utils %}

{% block content %}
    <h3>Recent inspections</h3>

    {% if extractions %}
        <ul>
            {% for e in extractions %}
                <li>
                    <a
                            href="{% url 'url_inspector:inspection' e.id %}"
                            {% if e.url|length > length_url_max %} title="{{ e.url }}" {% endif %}
                    >
                        {{ e.url|truncate_chars_middle:length_url_max }}
                    </a>
                </li>
            {% endfor %}

            {% if extractions|length < extractions_count %}
                <li>
                    <a href="{% url 'url_inspector:inspections_saved' %}">See more...</a>
                </li>
            {% endif %}
        </ul>
    {% else %}
        <p>No recent inspections to display.</p>
    {% endif %}
{% endblock %}