{% extends "url_inspector/base.html" %}

{% load ui_utils %}

{% block content %}
    {% if extractions %}
        <ol>
            {% for e in extractions|dictsortreversed:"start_date" %}
                <li>
                    <a
                        href="{% url 'url_inspector:inspection' e.id %}"
                        {% if e.url|length > length_url_max %}
                            title="{{ e.url }}"
                        {% endif %}
                    >
                        {{ e.url|truncate_chars_middle:length_url_max }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No page has still been examined.</p>
    {% endif %}
{% endblock %}