{% extends "url_inspector/base.html" %}

{% load static %}
{% load ui_utils %}

{% block title %}
    {{ extraction.url|truncate_chars_middle:global.length_url_min }} | {{ block.super }}
{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'url_inspector/style_inspection.css' %}">

    {% if extraction.status == "started" %}
        <meta http-equiv="refresh" content="{{ inspection_refresh }}">
    {% endif %}
{% endblock %}

{% block content %}
    <section id="inspection-heading">
        <h2>
            <img
                width="16px" height="16px"
                {% with suffix=extraction.status|add:'.png' %}
                    src="{% static 'url_inspector/status_'|add:suffix %}"
                {% endwith %}
            >
            Inspection from
            <!-- TO-DO Create a custom template filter for creating anchors like the one below and set the target
            attribute to a new window -->
            <a
               href="{{ extraction.url }}"
               style="font-weight: normal"
               {% if extraction.url|length > global.length_url_max %} title="{{ extraction.url }}" {% endif %}
                >
               {{ extraction.url|truncate_chars_middle:global.length_url_max }}
            </a>
        </h2>

        {% if extraction.status == "terminated" %}
            {% if items %}
                <div class="tiles">
                    {% for code, occurrence in occurrences.items|dictsortreversed:1 %}
                        <span>
                            <b>{{ code }} {{ code|http_code_phrase }}</b>
                            × {{ occurrence }}
                        </span>
                    {% endfor %}
                    <span><b>Total</b> {{ items|length }}</span>
                </div>
            {% endif %}
        {% endif %}

        <footer>
            Started on {{ extraction.start_date|date:"SHORT_DATETIME_FORMAT" }}.
        </footer>
    </section>

    {% if extraction.status == "started" %}
        <p>
            This page will <b>reload every {{ inspection_refresh }} seconds</b> until the results are complete.<br>
            Please be patient and wait.
        </p>

        <img src="{% static 'url_inspector/loading.gif' %}" width='36px' height='36px'>
    {% elif extraction.status == "cancelled" %}
        <p>This inspection was interrupted while running. Please rerun it to collect new data.</p>
    {% elif extraction.status == "terminated" %}
        {% if items %}
            <h3>Results</h3>

            <section id="inspection-results">
                {% for item in items %}
                    <article>
                        <h5>
                            <code>{{ item.url }}</code>
                            {{ item.name }}
                        </h5>

                        <p>
                            <!-- TO-DO Add color to status codes -->
                            Status code:
                            <abbr title="{{ item.status_code|http_code_desc }}">
                                <b>{{ item.status_code }} {{ item.status_code|http_code_phrase }}</b>
                            </abbr><br>
                            Full URL:
                            <a
                                href="{{ item.absolute_url }}"
                                {% if item.absolute_url|length > global.length_url_max %} title="{{ item.absolute_url }}" {% endif %}
                               >
                                {{ item.absolute_url|truncate_chars_middle:global.length_url_max }}
                            </a>
                        </p>
                    </article>
                {% endfor %}
            </section>
        {% else %}
            <p>No URLs were scraped in this inspection.</p>
        {% endif %}
    {% endif %}
{% endblock %}