{% extends "url_inspector/base.html" %}

{% load static %}
{% load ui_utils %}

{% block head %}
    <style>
        li img {
            width: 11px;
            height: 11px;
        }

        a:hover > .button-delete {
            filter: opacity(100%);
            filter: brightness(80%);
        }

        .button-delete {
            margin-left: 3px;
            filter: opacity(65%);
        }
    </style>
{% endblock %}

{% block content %}
    {% if extractions %}
        <ol>
            {% for e in extractions|dictsortreversed:"start_date" %}
                <li>
                    <img
                        {% with suffix=e.status|add:'.png' %}
                            src="{% static 'url_inspector/status_'|add:suffix %}"
                        {% endwith %}
                    >

                    <a
                        href="{% url 'url_inspector:inspection' e.id %}"
                        {% if e.url|length > global.length_url_max %}
                            title="{{ e.url }}"
                        {% endif %}
                    >
                        {{ e.url|truncate_chars_middle:global.length_url_max }}
                    </a>

                    <a
                        href="{% url 'url_inspector:inspection_delete' e.id %}"
                        title="Delete"
                    >
                        <img
                            src="{% static 'url_inspector/red_cross.png' %}"
                            alt="X"
                            class="button-delete"
                        >
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No page has still been examined.</p>
    {% endif %}
{% endblock %}