section#inspection-heading {
    color: #333;
    background-color: #E6E8EA;

    margin: 0px;
    padding: 10px;
}

section#inspection-heading > h2 {
    font-size: 130%;
}

section#inspection-heading > footer {
    font-size: 85%;
    margin: 5px;
}

section#inspection-results > article {
    padding: 7px;
    border-top: 1px solid black;
}

section#inspection-results > article:nth-child(2n) {
    background-color: #FFEAA6;
}

div.tiles {
    margin: inherit;
    padding: inherit;
}

div.tiles > span {
    color: #EFEFEF;
    background-color: #565656;

    border: 1px solid black;
    padding: 2.5px;
    margin: 4px;
}
